@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    box-sizing: border-box;
    color: white;
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
    .mobile-line-break {
        display: block;
    }
}
