@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
    box-sizing: border-box;
    color: white;
}

li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('/assets/globe.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5rem;
}

.mobile-line-break {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 25px;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

@media (max-width: 768px) {
    .divider {
        display: none;
    }
    .mobile-line-break {
        display: block;
    }
}
